.app-container{
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgb(209,190,9);
background: linear-gradient(90deg, rgba(209,190,9,1) 0%, rgba(109,121,9,1) 50%, rgba(255,0,0,1) 100%);
margin-bottom: 10px;
}

.alert-container{
    width: 50%;
    padding: 0px;
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}